@model twMVC.Repositories.EF.Employees
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        姓名：@Model.LastName ,@Model.FirstName <br />
        電話：@Model.HomePhone
    </div>
</body>
</html>
